body {
  font-family: sans-serif;
}

.planner-nav-bar {
  font-size: 26px;
  background-color: #259af4;
  color: #fff;
  padding: 5px;
}

.planner-head {
  font-size: 14px;
  background-color: #eee;
  color: #999;
  height: 20px;
  padding: 5px;
  vertical-align: middle;
}

.planner-detail {
  font-size: 0.8em;
  margin: 3px;
  border: 1px solid #eee;
  width:12em; /* or whatever width you want. */
  max-width:12em; /* or whatever width you want. */
  display: inline-block;
}

.planner-section {
  margin: 10px;
}

.planner-detail > button {
  display: block;
  margin: 5px;
  background-color: #eee;
  border: none;
}

.planner-detail > p {
  display: block;
  margin: 5px;
  text-align: center;
}

.planner-lists {
  padding: 0.5em;
  border-top: 1px solid #eee;
}



